/* signin.scss */
.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 320px;
  text-align: center;
}

.container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.container form input[type="email"],
.container form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #12e6d8;
  border-radius: 4px;
}

.container form input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container form input[type="submit"]:hover {
  background-color: #0056b3;
}

.container p {
  margin-top: 20px;
}

.container p a {
  display: inline-block;
  background-color: #db4a39;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.container p a:hover {
  background-color: #c0392b;
}

.container span {
  display: block;
  /* Make the <span> element a block-level element */
  margin-top: 10px;
  /* Add some spacing above the <span> element */
}

.container span a {
  color: #007bff;
  /* Set link color */
  text-decoration: none;
  /* Remove underline */
  transition: color 0.3s;
}

.container span a:hover {
  color: #0056b3;
  /* Change color on hover */
}
